# Ignore Power BI files and large CSVs 
*.pbix

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
git rm --cached transactions_data.csv
echo "transactions_data.csv" >> .gitignore

